body
{
     font-family: 'Roboto', sans-serif !important;
     scrollbar-base-color:#d6d7e0;
     scrollbar-3dlight-color:#788783;
     scrollbar-highlight-color:#788783;
     scrollbar-shadow-color:#A4A5BA;
     font-size:12px;
    /* scrollbar-arrow-color:#788783;
       scrollbar-darkshadow-color:#788783;
       scrollbar-face-color:#788783;*/
}
.styleSearchBox
{
   background-image:url('../../Images/search_blue.jpg');
    background-position:right;
    background-repeat:no-repeat;
    height:16px;
   
}

/*Start */
/* Added by Tamilselvan on 21/04/2011
For GridView Static Header table */

.stylegvHeaderBG
{
	background-color:#d6d7e0;
	font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}
.stylegvHeaderBG td
{
	border-style: solid none none solid;
	border-width: 1pt;
	border-color: #d6d7e0 #FFFFFF #FFFFFF #d6d7e0;
	padding: 0,0,0,0;
}
/*End */

.styleContentBackground
{
	 color:Navy;
     background-color:white;
}
.styleModalBackground
{
	background-color:Gray;
	filter:alpha(opacity=70);
}

.stylePagingRecFieldLabel
{
  font-family: 'Roboto', sans-serif !important;
  font-weight:bold;
   font-size:13px;
   color:Black;
   padding-left:0px;  
   text-align:left;
}
.stylePagingControl
{
	background-color:Silver;
}
.styleGridEditDisabled
{
	background-image:url('../../Images/Edit.JPG');	
	width:16px;	
	height:16px;
	border:0px;	
	background-repeat: no-repeat;
}
.styleGridQueryDisabled
{
	background-image:url('../../Images/query_gray.png');
	width:16px;	
	height:16px;
	background-repeat: no-repeat;
}
.styleGridAddQueryDisabled
{
	
	width:16px;	
	height:16px;
	background-repeat: no-repeat;
}

.styleGridAddEditDisabled
{	
	width:16px;	
	height:16px;
	border:0px;	
	background-repeat: no-repeat;
}
.styleGridEdit
{
	background-image:url('../../Images/edit_gray.png');	
	width:16px;	
	height:16px;
	border:0px;	
	background-repeat: no-repeat;
}
.styleGridQuery
{
	background-image:url('../../Images/query_new_gray.png');
	width:16px;	
	height:16px;
	background-repeat: no-repeat;
}
.styleImageSortingAsc
{
	background-image:url('../../Images/ArrowUp.gif');	
	background-repeat: no-repeat;
	width:7px;	
	height:7px;
	cursor:default;
}
.styleImageSortingDesc
{
	background-image:url('../../Images/ArrowDown.gif');	
	background-repeat: no-repeat;
	width:7px;	
	height:7px;
	cursor:default;
}
.stylePagingSubmitButton
{
   background-color:#A4A5BA;
   background-image:url('../../Images/green_hover_td.jpg');
   text-align:center;
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:22px;
   color:Black;
  /* border:1px solid gray;*/
   border-style:none;
   width:90px;
   border-right-color:#A4A5BA;
   border-right-width:1px;
   border-right-style:solid;
   border-left-color:#A4A5BA;
   border-left-width:1px;
   border-left-style:solid;
   border-bottom-color:#A4A5BA;
   border-bottom-width:1px;
   border-bottom-style:solid;
   /*commented as image has top border*/
   /*border-top-color:aliceblue;
   border-top-width:1px;
   border-top-style:solid;*/
}
.stylePagingFieldLabel
{
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:13px;
   color:Black;
   padding-left :12px;  
   text-align:left;
}
.stylePagingTextBox
{
	font-size:12px;
	font-family: 'Roboto', sans-serif !important;
	font-weight:bold;	
	height:16px;
}
.styleRecordCount
{
	background-color:#FFFFCC;
	height:30px;
}
.styleImageSorting
{
	cursor:default;
}
/*used in code for Applying style of Sitemap td 
.styleHeaderName
{
  
  font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   color:Background;
   padding-left:0px;

}*/
/* style used to set border style for Menu Td*/
.styleMenuTd
{
    border-right-color:#A4A5BA;
    border-right-style:solid;
    border-right-width:3px;
}
.styleTxtBoxFocusColor
{
	background-color:InactiveCaptionText;
}
.styleMandatory
{
    
    /*color:Red;*/
    color:Black;
    font-size:11px;
    vertical-align:top;
}
.styleMandatoryLabel
{
    font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   /*color:Red;*/
   color:Black;
     text-align:left;
   text-decoration:none;
   cursor:default;
}
.styleFieldAlign
{
    vertical-align:top;
    padding-top:3px;
    text-align:left;
    padding-left:10px;
}
.styleSubmitButton
{
   background-color:#A4A5BA;
   background-image:url('../../Images/green_hover_td.JPG');
   text-align:center;
  font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:25px;
   color:black;
   /*border:1px solid gray;*/
   border-style:none;
   width:100px;
   border-right-color:#A4A5BA;
   border-right-width:1px;
   border-right-style:solid;
   border-left-color:#A4A5BA;
   border-left-width:1px;
   border-left-style:solid;
   border-bottom-color:#A4A5BA;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-top-color:#A4A5BA;
   border-top-width:1px;
   border-top-style:solid;
}

.styleSubmitLongButton
{
   background-color:#A4A5BA;
   background-image:url('../../Images/green_hover_td.JPG');
    text-align:center;
  font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:25px;
   color:black;
   /*border:1px solid gray;*/
   border-style:none;
   width:100px;
   border-right-color:#A4A5BA;
   border-right-width:1px;
   border-right-style:solid;
   border-left-color:#A4A5BA;
   border-left-width:1px;
   border-left-style:solid;
   border-bottom-color:#A4A5BA;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-top-color:#A4A5BA;
   border-top-width:1px;
   border-top-style:solid;
   width:150px;
   /*commented as image has top border*/
   /*border-top-color:aliceblue;
   border-top-width:1px;
   border-top-style:solid;*/
}

.styleSubmitShortButton
{
	background-color:#A4A5BA;
   background-image:url('../../Images/green_hover_td.JPG');
    text-align:center;
  font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:25px;
   color:black;
   /*border:1px solid gray;*/
   border-style:none;
   width:100px;
   border-right-color:#A4A5BA;
   border-right-width:1px;
   border-right-style:solid;
   border-left-color:#A4A5BA;
   border-left-width:1px;
   border-left-style:solid;
   border-bottom-color:#A4A5BA;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-top-color:#A4A5BA;
   border-top-width:1px;
   border-top-style:solid;
   width:49px;
   /*commented as image has top border*/
   /*border-top-color:aliceblue;
   border-top-width:1px;
   border-top-style:solid;*/
}

.styleGridShortButton
{
   background-color:#A4A5BA;
   background-image:url('../../Images/green_hover_td.JPG');
    text-align:center;
  font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:25px;
   color:black;
   /*border:1px solid gray;*/
   border-style:none;
   width:100px;
   border-right-color:#A4A5BA;
   border-right-width:1px;
   border-right-style:solid;
   border-left-color:#A4A5BA;
   border-left-width:1px;
   border-left-style:solid;
   border-bottom-color:#A4A5BA;
   border-bottom-width:1px;
   border-bottom-style:solid;
   border-top-color:#A4A5BA;
   border-top-width:1px;
   border-top-style:solid;
   width:49px;
   height:22px;
   /*commented as image has top border*/
   /*border-top-color:aliceblue;
   border-top-width:1px;
   border-top-style:solid;*/
}

.styleFieldLabel
{
  font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   color:black;
   
   padding-left:12px;  
   text-align:left;
}
.stylePageHeading
{
   background-image:url('../../images/green_hover_td.JPG');
  font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:13px;
   color:Background;
   width:99.5%;
   padding-left:3px;
   height:18px;
   border-bottom:1px solid #788783;
   border-top:1px solid #788783;
   margin-bottom:2px;
   filter:glow(color=InactiveCaptionText,strength=50);
}

/* Css class for SiteMap begins*/
.styleSitepath
{
    padding-left:15px;
    font-size:12px;
   font-family: 'Roboto', sans-serif !important;
}
.stylePathsep
{
    font-weight:bold;
     color:black;
}
.styleCurrentNode
{
    
     color:black;
}
.styleNode
{
    font-weight:bold;
     color:black;
}
.styleRootNode
{
    font-weight:bold;
     color:black;
}
/* Css class for SiteMap ends*/

/* cssclass responsible for Back ground color change */
.styleContentBG
{
    background-color: #A4A5BA;/*#A4A4A4;*/
    width:100%;
    height:460px;
}
.styleHeaderLinks
{
   font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:12px;
	color:black;
	text-decoration:none;
}
.styleHeaderLinks:hover
{
    color:black;
    text-decoration:underline;
}

a.styleTopTd hover
{
    color:Navy;
    text-decoration:underline;
}
.styleHeaderInfo
{
   font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:12px;
	color:black;
	text-decoration:none;
}
.styleInfoLabel
{
   font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:14px;
	color:black;
	text-decoration:none;
}
.styleTicker
{
     width: 66%;
     background-color:#eff4fb;
    font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:13px;
	color:Navy;
}
.styleTopTd
{
   background-image:url('../../images/green_hover_td.JPG');
  font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   color:Navy;
   height:26px;
}
.styleSpanLine
{
    color:Gray;
    padding-left:5px;
    padding-right:3px;
}
.styleFooterSpanLine
{
    color:Gray;
    padding-left:5px;
    padding-right:3px;
}
.styleMainTable
{
	border-bottom-color:black;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:black;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:black;
	border-right-style:solid;
	border-right-width:1px;
 	width:100%;
 	
}
.styleContentTable
{
	 border-left-color:gray; 
	 border-right-color:gray;
	 border-bottom-color:gray;
	 border-top-color:gray;
	 border-style:solid;
 	 border-width:1px;	
 	 width:99%;
 	 background-color:white; 	
}
.styleFooterInfo a
{
 color:black;
 text-decoration:none;
font-family: 'Roboto', sans-serif !important;
 font-size:12px;
}
.styleFooterInfo 
{
 color:black;
 text-decoration:none;
font-family: 'Roboto', sans-serif !important;
 font-size:12px;
}
.styleFooterInfo a:hover
{
   text-decoration:underline;
}

/* For Menu Collapse*/
.styleToolTip
{
    color:#00218e;
   font-family: 'Roboto', sans-serif !important;
    font-size: 13px;
   background-color:#A3A3BB;  /*background-color:Yellow;*/
   /*filter:alpha(opacity=100,finish opacity=3,style=1,startx=0,starty=0,finishx=580,finishy=0);*/
}
.styleHeaderBg
{
	background-image:url('../../images/Silver_bg.JPG');
	background-repeat:repeat-x;
	height:58px;
}
.styleGridHeader
{
    color:black;
    text-decoration:none;
    background-color:#d6d7e0;
    /*cursor:default;*/
    /*background-image:url('../../images/Silver_bg.JPG');
    background-repeat:repeat-x;
	height:20px;*/
   
}
.styleGridHeaderLinkBtn
{
    color:black;
    text-decoration:underline;
	
}
.styleGridHeaderLinkBtnHeading
{
    color:black;
    font-weight:bold;
    text-decoration:underline;
}
.styleMarquee
{
   font-family: 'Roboto', sans-serif !important;
    font-size:13px;
    font-weight:bold;
    color:Black;
    background-color:#ffffff; /* background-color:#A4A5BA;*/
}
.styleMenuImage
{
    filter:alpha(opacity=60);
}
.styleMenuImage:hover
{
    filter:alpha(opacity=100);
}

.styleLoginImage
{
      background-image: url('../images/loginImg.gif');
      background-repeat: no-repeat;
      height: 187px;
      width: 850px;
}
/* Code for jquery menu*/
 .arrowlistmenu
{
    width: 190px; /*width of accordion menu*/
}
.arrowlistmenu .menuheader
{
    /*CSS class for menu headers in general (expanding or not!)*/
    font: bold 14px Arial;
    color: white;
    background: black url('../../images/systemadmin.jpg') repeat-x center left;
    margin-top: 0px;
    margin-bottom: 1px; /*bottom spacing between header and rest of content*/
    text-transform: uppercase;
    padding: 0px; /*header text is indented 10px*/
    padding-bottom: 0px;
    cursor: hand;
    cursor: pointer;
}
.arrowlistmenu .openheader
{
    /*CSS class to apply to expandable header when it's expanded*/
    background-image: url(../../images/titlebar-active.png);
}
.arrowlistmenu ul
{
    /*CSS for UL of each sub menu*/
    list-style-type: none;
    margin: 0;
    padding: 0px;
    margin-bottom: 0px; /*bottom spacing between each UL and rest of content*/
}
.arrowlistmenu ul li
{
    padding-bottom: 2px; /*bottom spacing between menu items*/
}
.arrowlistmenu ul li .opensubheader
{
    /*Open state CSS for sub menu header*/
    background: gray !important;
}
.arrowlistmenu ul li .closedsubheader
{
    /*Closed state CSS for sub menu header*/
    background: lightgreen !important;
}
.arrowlistmenu ul li a
{
    color: #A70303;
    background: url(../../images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
    display: block;
    padding: 2px 0;
    padding-left: 19px; /*link text is indented 19px*/
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #A4A5BA;
    font-size: 90%;
}
.arrowlistmenu ul li a:visited
{
    color: #A70303;
}
.arrowlistmenu ul li a:hover
{
    /*hover state CSS*/
    background-color: #F3F3F3;
}
.arrowlistmenu ul li a.subexpandable:hover
{
    /*hover state CSS for sub menu header*/
    background: gray;
}
/* Code for jquery menu  ends*/

/* Accordion */
.accordionHeader
{
    /*border: 1px dashed navy;*/
    color: black; /*background-color: #2E4d7B;*/
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    cursor: hand;
    color: black;
 
    background-image: url('../../Images/green_hover_td.JPG');
    height: 15px;
}
 .accordionHeader:hover
 {
    text-decoration: underline;
     background-image:url('../../Images/Silver_bg.JPG');
	/* background-image:url('../../images/Menu_hover.JPG');*/
 }
.accordionHeaderSelected
{
    /*border: 1px solid #2F4F4F;*/
    color: white;
    background-color: #5078B3;
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    background-image:url('../../Images/Silver_bg.JPG');
    /*background-image:url('../../images/Menu_sel.JPG');*/
    cursor: pointer;
    
}
.accordionHeaderSelected:hover
{
	background-image:url('../../Images/Silver_bg.JPG');
	/*background-image:url('../../images/Menu_hover.JPG');*/
	/*background-color:Black;*/

}
.accordionContent
{
    background-color: #ffffff; /*border: 1px dashed #2F4F4F;*/
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    border-top: none;
    padding: 5px; /*padding-top: 10px;*/
    text-decoration: none;
    color:black;
    background-position:center;
    background-attachment:inherit;
    background-repeat:no-repeat;
}
.accordionContent a
{
    text-decoration:none;
    color:black;
}
.accordionContent a:hover
{
    /*background: none;*/
    
    text-decoration: underline;
}
.accordionContent a:active
{
    /*background: none;*/
    background-color: #A4a5bA;
    text-decoration: underline;
}

/*Accrodion Style Ends*/

/*Styles Ajax tabpanel begins*/
.styleTabPanel .ajax__tab_header{background:url(../../images/tab-line.gif) repeat-x bottom;font-size:12px;font-weight:bold}
.styleTabPanel .ajax__tab_tab {height:13px;padding:4px;margin:0px;background:url(../../images/silver_middleStretch.gif) repeat-x;}
.styleTabPanel .ajax__tab_outer {padding-right:4px;background:url(../../images/silver_rightCurve.gif) no-repeat right;height:21px;}
.styleTabPanel .ajax__tab_inner {padding-left:3px;background:url(../../images/silver_leftCurve.gif) no-repeat;}
.styleTabPanel .ajax__tab_body{border-right:1px solid #999999;border-left:1px solid #999999;border-top:0;border-bottom:1px solid #999999;}
.styleTabPanel .ajax__tab_hover .ajax__tab_tab {height:13px;cursor:hand;background:url(../../images/silver_middleStretch.gif) repeat-x;}
.styleTabPanel .ajax__tab_hover .ajax__tab_outer{background:url(../../images/silver_rightCurve.gif) no-repeat right;}
.styleTabPanel .ajax__tab_hover .ajax__tab_inner{background:url(../../images/silver_leftCurve.gif) no-repeat;}
.styleTabPanel .ajax__tab_active .ajax__tab_tab {background:url('../../images/silver_middleStretch.gif') repeat-x; border-top:1px solid #999999;}
.styleTabPanel .ajax__tab_active .ajax__tab_outer{background:url(../../images/silver_rightCurve.gif) no-repeat right;}
.styleTabPanel .ajax__tab_active .ajax__tab_inner{background:url(../../images/silver_leftCurve.gif) no-repeat;}
/* scrolling */
.ajax__scroll_horiz {overflow-x:scroll;}
.ajax__scroll_vert {overflow-y:scroll;}
.ajax__scroll_both {overflow:scroll}
.ajax__scroll_auto {overflow:auto}

/*Styles Ajax tabpanel Ends*/

.styleTabSubmitTd
{
    border-right:1px solid #999999;
    border-left:1px solid #999999;
    border-bottom:1px solid #999999;
}

/*Style Code for Tab control ends*/

/*login details*/
.styleLoginTable
{
      border-color: Black;
      border-style: solid;
      border-width: 1px;
      width: 100%;
      height: 100%;
}

.styleLoginBody
{
      background-color: #cee1fa;
      
}


.styleLoginContent
{
      border-left-color: #77B6E9;
      border-right-color: #77B6E9;
      border-bottom-color: #77B6E9;
      border-top-color: #77B6E9;
      border-style: solid;
      border-width: 1px;
      margin: 1px 1px 4px 4px;
      width: 99%;
}

.styleLoginHeading
{
      background-color: #3e7fb9;
      font-family: 'Roboto', sans-serif !important;
      font-style: italic;
      font-weight: bold;
      font-size: 15px;
      color: #FFFFFF;
      height: 31px;
      vertical-align: middle;
}
.styleLoginContentBody
{
     background-color:#cee1fa;
      /*border-left-color: #77B6E9;*/
      border-right-color: #77B6E9;
      border-bottom-color: #77B6E9;
      border-top-color: #77B6E9;
      border-style: solid;
      border-width: 1px;
}

.styleLoginImage
{
      background-image: url('../../images/loginImg.gif');
      background-repeat: no-repeat;
      height: 187px;
      width: 650px;
}

.styleLoginLabel
{
      font-family: 'Roboto', sans-serif !important;
      color: navy;
      font-size: 14px;
}

.styleLoginFooter
{
      height: 5%;
      background-color: #E8E8E8;
      border-top-color: gray;
      border-top-style: solid;
      border-width: 1px;
      font-family: 'Roboto', sans-serif !important;
      font-size: 13px;
}

p.MsoNormal
      {margin-bottom:.0001pt;
      font-size:11.0pt;
      font-family: 'Roboto', sans-serif !important;
              margin-left: 0in;
            margin-right: 0in;
            margin-top: 0in;
      }

/*login details*/

/*Message below Grid*/
.styleMessageTd
{
border:1px; 
background-color:silver;
}
.styleMessageLabel
{
    /*color:red;*/
   color:Black;
    font-weight:bold;
    font-family: 'Roboto', sans-serif !important;
    font-size:small;
}
.styleDisplayLabel
{
   font-family: 'Roboto', sans-serif !important;
	font-size:14px;
	color:Black;
	text-decoration:none;
	
}
/*Message below Grid*/
/* for masked editor*/
/************ MaskedEdit Related Styles ***********************/
.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}
.MaskedEditMessage
{
	color: #ff0000;
	font-weight: bold;
}
.MaskedEditError
{
    background-color: #ffcccc;
}
.MaskedEditFocusNegative
{
    background-color: #ffffcc;
    color: #ff0000;
}
.MaskedEditBlurNegative
{
    color: #ff0000;
}
/* for masked editor*/
.styleButtonArea
{
    padding-left:45px;
    padding-top:4px;
    padding-bottom:4px;
}   
.styleReqFieldFocus
{
    background-color:#ffffcc;
}
.styleReqFieldDefalut
{
    background-color:White;
}

.styleButtonNext
{
font-family: 'Roboto', sans-serif !important;
font-size: 12px;
color: #0066ff;
border:0px;
padding-right:5px;
background-color:White;
}
 /*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: 200px;
    text-align: left;
    list-style-type: none;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
    background-color: #ffff99;
    color: black;
    padding: 1px;
}
/* AutoComplete item */
.autocomplete_listItem
{
    background-color: window;
    color: windowtext;
    padding: 1px;
}

.styleRoundedExtender
{
   background-color:#d6d7e0;
}
/* Panel Styles Added by Nataraj Y*/
.stylePanel
{
    padding-bottom:3px;
    padding-top:5px;
    padding-left:2px;
    padding-right:5px;
    overflow:auto;
    
}
.stylePanel legend
{
    color:Black;
    font-size:14px;
    font-weight:bolder;
    font-variant:small-caps;
}
.stylePanel fieldset
{
    border:solid 1px gray;
    overflow:inherit;
    
}
/* Panel Styles Added by Nataraj Y Ends Here*/

/* Added by Kali to convert lowercase to uppercase while typing*/
.styleTextUpperCase
{
	text-transform:uppercase;
}

.styleGridview caption
{
    color:Black;
    font-size:14px;
    font-weight:bolder;
    font-variant:small-caps;
    border:solid 1px #d6d7e0;
}

.styleCheklist
{
    color:Black;
    font-size:14px;
    border:solid 1px #d6d7e0;
    background-color:#d6d7e0;
    
    
}
/* style for validation control notes*/
.styleMandatoryNotes
{
  font-family: 'Roboto', sans-serif !important;
   font-size:13px;
   /*color:red;*/
   color:Black;
   padding-left:12px;  
   text-align:left;
}

/* Validation summary style */

.styleSummaryStyle
{
  font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   /*color:red;*/
   color:Black;
   text-align:left;
   padding-left:10px;
   text-decoration:none;
}

.styleReqFieldLabel
{
  font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   /*color:black;*/
   text-align:left;
   background-image:url('../../images/Star_black.PNG');
   background-repeat:no-repeat;
   background-position:right center;
   padding:5px 10px 0px 0px;
   
   
}

.styleWaterMarked {
	
	padding:2px 0 0 2px;
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}	
/*


.ajax__combobox_buttoncontainer button
{
    background-image: url('../../images/arrow-down.PNG');
    background-position: center;
    background-repeat: no-repeat;
    border-color: ButtonFace;
    height: 15px;
    width: 15px;
}
.ajax__combobox_itemlist
{
    font-size:12px;
    margin: 0px;
    padding: 0px;
    cursor: default;
    list-style-type: none;
    text-align: left;
    border: solid 1px ButtonShadow;
    background-color: Window;
    color: WindowText;
}
.ajax__combobox_itemlist li
{
    font-size:12px;
    white-space: nowrap;
    width: 100%;
    padding: 0 3px 0 2px;
}*/

/* ComboBox styles */

.ajax__combobox_itemlist
{
    margin: 0px;
}
.ajax__combobox_itemlist li
{
    font-size:14px;
    white-space: nowrap;
    width: 100%;
    padding: 0 3px 0 2px;
}

.AjaxToolkitStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    background-image: url(../../images/combo/toolkit-bg.gif);
    background-position: top left;
    border: 0px none;
    color: #FFFFFF;
    padding: 4px 0px 3px 5px;
    font-size: 13px;
    height: 16px;
    width: 240px;
}
.AjaxToolkitStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    background-image: url(../../images/combo/toolkit-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 23px;
    width: 23px;
}
.AjaxToolkitStyle .ajax__combobox_itemlist
{
    font-size:14px;
    border-color: #0F2543;
    background-color: #EFEFEF;
}

.AquaStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    background-image: url(../../images/combo/aqua-bg.gif);
    background-position: top left;
    border: 0px none;
    padding: 2px 0px 0px 8px;
    font-size: 13px;
    height: 17px;
    width: 150px;
}
.AquaStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    background-image: url(../../images/combo/aqua-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 19px;
    width: 19px;
}
.AquaStyle .ajax__combobox_itemlist
{
    font-size:14px;
    border-color: #000000;
    background-color: #FFFFFF;
}
.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    border: solid 1px #7F9DB9;
    border-right: 0px none;
    padding: 1px 0px 0px 5px;
    font-size: 13px;
    height: 18px;
}
.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    margin: 0;
    padding: 0;
    background-image: url(../../images/combo/windows-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 21px;
    width: 21px;
}
.WindowsStyle1 .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    margin: 0;
    padding: 0;
    background-image: url(../../images/combo/windows-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 21px;
    width: 21px;
    
}
.WindowsStyle1 .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    border: solid 1px #7F9DB9;
    border-right: 0px none;
    padding: 1px 0px 0px 5px;
    font-size: 13px;
    height: 18px;
    text-transform:uppercase;
}
.WindowsStyle1 .ajax__combobox_itemlist
{
    font-size:12px;
    border-color: #7F9DB9;
}
.WindowsStyle .ajax__combobox_itemlist
{
    font-size:14px;
    border-color: #7F9DB9;
}
.styleAutoGenerated
{
    background-color:#FCFFCC;
    text-transform:uppercase;
    
    
}
.styleCreateButton
{
    background-image:url(../../images/create_silver.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/
}
.styleShowallButton
{
    background-image:url(../../images/showAll_silver.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/
}
.styleSaveButton
{
    background-image:url(../../images/save_silver.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/
}

.styleCancelButton
{
    background-image:url(../../images/cancel_silver.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/
}
.styleClearButton
{
    background-image:url(../../images/clear_silver.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/
}
.styleGoButton
{
    background-image:url(../../images/go_silver.jpg);
    width:42px;
    height:22px;
    /*cursor:default;*/
}

.FrozenHeader
{
    background-color:#d6d7e0;
    position:relative;
    top:expression(document.getElementById("divGrid").scrollTop-2);
    z-index:10;
}

/*Hover Menu*/
.popupMenu {
	position:absolute;
	visibility:hidden;
	background-color:#F5F7F8;
	}

.popupHover {
	background-image:url(images/header-opened.png);
	background-repeat:repeat-x;
	background-position:left top;
	background-color:#F5F7F8;
}
.styleTxtRightAlign
{
	text-align:right;	
}


.styleAttachedFile
{
	font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   color:Green;
   
   padding-left:12px;  
   text-align:left;
 }
.gridRowBackColor_First
{
	background-color :#B8CCE4
}
.gridRowBackColor_Second
{
	background-color :#DBE5F1;
}

/*Thangam*/
.tabMenuItem
{
    height:22px
}

.tabMenuItem td
{
    padding-left:5px;
    padding-right:5px;
    font-size:13px;
}

.tabMenuItem:hover
{
    height:22px;
    background-image:url(../../images/tab_bg.png);
    /*background-image:url(../../images/Blue_2/header_second_blue_bg.gif);*/
    background-repeat:repeat-x;
    background-color:#f2f8ff;
    border-style:solid;
    border-width:1px;
    border-color:#bad4ff;
    cursor:pointer;
}

.tabMenuLeftPane
{
    width:18px;
    border-right-style:solid;
    border-right-width:1px;
    border-right-color:#e1e6e9;
}

.imgClose
{
    border:none; margin-bottom:-5px; width:14px; position:absolute; right:31px; margin-top:3px; z-index:1000; cursor:pointer;
}

.imgClose:hover
{
    width:17px;
}

.imgDownArw
{
    border:none; margin-bottom:-5px; width:7px; position:absolute; right:13px; margin-top:6px; z-index:1000;
}

.imgDownArw:hover
{
    width:9px;
}