
@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('../fonts/funnel_sans/FunnelSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'Funnel Display';
  src: url('../fonts/funnel_display/FunnelDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Display';
  src: url('../fonts/funnel_display/FunnelDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Display';
  src: url('../fonts/funnel_display/FunnelDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Display';
  src: url('../fonts/funnel_display/FunnelDisplay-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Display';
  src: url('../fonts/funnel_display/FunnelDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Funnel Display';
  src: url('../fonts/funnel_display/FunnelDisplay-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
