<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FA_BusEntity.Properties.Settings.FA_Dev_1_0ConnectionString"
            connectionString="Data Source=SISCHNSQLDB01;Initial Catalog=FA_Dev_1.0;User ID=s3g"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>