<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add fileName="F:\Proj\SML24-Feb-23\Logs\FATrace.log" header="----------------------------------------" footer="*******************************************" formatter="S3G Format" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="S3G Error Logging"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="S3G Format"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FA Error Logging"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="S3G Error Logging"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="SMTPServer" value="sischnxng04.sis.ad"/>
    <add key="EncryptKey" value="Al!5(iV3@aij%9hT"/>
    <add key="INIFILEPATH" value="D:\DQ\SML24-Feb-23\SISLS3GPLayer\SISLS3GPLayer\ConFig.ini"/>
    <add key="COMMONERRORLOG" value="F:\Proj\SML24-Feb-23\Logs\S3GTrace.log"/>
    <add key="SendError" value="1"/>
    <add key="FAconnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XEPDB1)));User Id=SMLFA;Password=sathish;"/>
    <!--0 - File | 1 - DB-->
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-US" uiCulture="en-US"/>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>

      <service behaviorConfiguration="SIS_FA_SLayer.Budget.BudgetMasterBehavior" name="SIS_FA_SLayer.Budget.BudgetMaster">
        <endpoint address="" binding="wsHttpBinding" contract="SIS_FA_SLayer.Budget.IBudgetMaster">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service behaviorConfiguration="SIS_FA_SLayer.SysAdmin.FAAdminServicesBehavior" name="SIS_FA_SLayer.SysAdmin.FAAdminServices">
        <endpoint address="" binding="wsHttpBinding" contract="SIS_FA_SLayer.SysAdmin.IFAAdminServices">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SIS_FA_SLayer.SysAdmin.SystemAdminMgtServiceBehavior" name="SIS_FA_SLayer.SysAdmin.SystemAdminMgtService">
        <endpoint address="" binding="wsHttpBinding" contract="SIS_FA_SLayer.SysAdmin.ISystemAdminMgtService" bindingConfiguration="WSHttpBinding_ISystemAdminMgtService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SIS_FA_SLayer.FinancialAccounting.FATranMasterMgtServicesBehavior" name="SIS_FA_SLayer.FinancialAccounting.FATranMasterMgtServices">
        <endpoint address="" binding="wsHttpBinding" contract="SIS_FA_SLayer.FinancialAccounting.IFATranMasterMgtServices">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SIS_FA_SLayer.FinancialAccounting.FunderInvestmentMgtServiceBehavior" name="SIS_FA_SLayer.FinancialAccounting.FunderInvestmentMgtService">
        <endpoint address="" binding="wsHttpBinding" contract="SIS_FA_SLayer.FinancialAccounting.IFunderInvestmentMgtService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SIS_FA_SLayer.FinancialAccounting.AccountMgtServiceBehavior" name="SIS_FA_SLayer.FinancialAccounting.AccountMgtService">
        <endpoint address="" binding="wsHttpBinding" contract="SIS_FA_SLayer.FinancialAccounting.IAccountMgtService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SIS_FA_SLayer.FinancialAccounting.FATransactionServiceBehavior" name="SIS_FA_SLayer.FinancialAccounting.FATransactionService">
        <endpoint address="" binding="wsHttpBinding" contract="SIS_FA_SLayer.FinancialAccounting.IFATransactionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SIS_FA_SLayer.FinancialAccounting.CommonMailBehavior" name="SIS_FA_SLayer.FinancialAccounting.CommonMail">
        <endpoint address="" binding="wsHttpBinding" contract="SIS_FA_SLayer.FinancialAccounting.ICommonMail">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SIS_FA_SLayer.SysAdmin.ScheduledJobMgtServicesBehavior" name="SIS_FA_SLayer.SysAdmin.ScheduledJobMgtServices">
        <endpoint address="" binding="wsHttpBinding" contract="SIS_FA_SLayer.SysAdmin.IScheduledJobMgtServices">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>

        <behavior name="SIS_FA_SLayer.Budget.BudgetMasterBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
        
        <behavior name="SIS_FA_SLayer.SysAdmin.FAAdminServicesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
        <behavior name="SIS_FA_SLayer.SysAdmin.SystemAdminMgtServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
        <behavior name="SIS_FA_SLayer.FinancialAccounting.FATranMasterMgtServicesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
        <behavior name="SIS_FA_SLayer.FinancialAccounting.FunderInvestmentMgtServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
        <behavior name="SIS_FA_SLayer.FinancialAccounting.AccountMgtServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
        <behavior name="SIS_FA_SLayer.FinancialAccounting.FATransactionServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
        <behavior name="SIS_FA_SLayer.FinancialAccounting.CommonMailBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500"/>
        </behavior>
        <behavior name="SIS_FA_SLayer.SysAdmin.ScheduledJobMgtServicesBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISystemAdminMgtService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:50:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="99998192" maxArrayLength="2147483647" maxBytesPerRead="994096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:50:00" enabled="false"/>
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>