/*chandru*/
.CompletionList
{
    background-repeat: repeat-x;
    background-color: #F7FAFC;
    z-index: 10000;
    max-height: 250px;
    text-align: inherit;
    text-indent: 2px;
    list-style: none;
    color:Navy;
    overflow-y: scroll; /*scrollbar-arrow-color: #B89020;
    scrollbar-base-color: #8E6E1C;
    scrollbar-face-color: #B6C5D4;
    scrollbar-3dlight-color: #8E6E1C;
    scrollbar-highlight-color: #EED47D;
    scrollbar-shadow-color: #959595;
    scrollbar-darkshadow-color: #00337E; */
    overflow-x:hidden;
    margin-left: 2px;
    border-width: 1px;
    border-style:solid;
    border-color: #D8D8D8;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif !important;
    font-size:12px;
    
}
.CompletionListItemCssClass
{
    background: none;
    border-collapse: collapse;
    color: #00337E;
    white-space: nowrap;
    text-align: inherit left;
    padding-left:2px;
   
}
.CompletionListHighlightedItemCssClass
{
    background-repeat: repeat-x;
    background-color: #3399FF;
    color: White;
    border-top: 1px solid #bad4ff;
    border-bottom: 1px solid #bad4ff;
    /*background-image: url('../../images/Blue_2/header_second_blue_bg.gif'); */
    background-image: url('../../Images/bg-menu-main.png');
    height:16px;
    white-space: nowrap;
}
.CompletionListWithFixedHeight
{
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    z-index: 10000;
    width: 245px !important;
    height: 200px;     
    text-align: inherit;
    text-indent: -1;
    list-style: none;
    overflow-y: scroll;        
    /*scrollbar-arrow-color: #B89020;
    scrollbar-base-color: #8E6E1C;
    scrollbar-face-color: #B6C5D4;
    scrollbar-3dlight-color: #8E6E1C;
    scrollbar-highlight-color: #EED47D;
    scrollbar-shadow-color: #959595;
    scrollbar-darkshadow-color: #00337E;*/
    margin-left: 0px;
    border-bottom: 1px solid #B5C6D4;
    border-left: 1px solid #B5C6D4;
    border-top: 1px solid #B5C6D4;
    margin-top: 0px;        
}
/*chandru*/
