body
{
     font-family: 'Roboto', sans-serif !important;
     /*scrollbar-base-color:aliceblue;
     scrollbar-3dlight-color:steelblue;
     scrollbar-highlight-color:aliceblue;
     scrollbar-arrow-color:Navy;*/
     font-size:12px;
     color:Navy;
    /* scrollbar-darkshadow-color:#788783;
       scrollbar-face-color:#788783;
       scrollbar-shadow-color:#A4A5BA;*/
}

.styleContentBackground
{
	 color:Navy;
     background-color:white;
}

.styleModalBackground
{
	background-color:Gray;
	filter:alpha(opacity=70);
}
/*Start */
/* Added by Tamilselvan on 21/04/2011
For GridView Static Header table */

.stylegvHeaderBG
{
	background-color:#d6d7e0;
	font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:13px;
	text-decoration:none;
}
.stylegvHeaderBG td
{
	border-style: solid none none solid;
	border-width: 1pt;
	border-color: #788783 #FFFFFF #FFFFFF #788783;
	padding: 0,0,0,0;
}
/*End */

.styleSearchBox
{
    background-image:url('../../Images/search_blue.jpg');
    background-position:right;
    background-repeat:no-repeat;
    height:16px;
    
}
.styleRecordCount
{
	background-color:#FFFFCC;
	height:30px;
}
.stylePagingRecFieldLabel
{
  font-family: 'Roboto', sans-serif !important;
   font-size:13px;
   font-weight:bold;
   color:White;
   padding-left:0px;  
   text-align:left;
}
.stylePagingFieldLabel
{
   font-family: 'Roboto', sans-serif !important;
   font-size:13px;
   font-weight:bold;
   color:White;
   padding-left :12px;  
   text-align:left;
}
.stylePagingControl
{
	background-color: #5D7B9D;
}
.styleGridCancelStatus
{
	background-color:aliceblue;
}
.styleGridEdit
{
	background-image:url('../../Images/Edit.JPG');	
	width:16px;	
	height:16px;
	border:0px;	
	background-repeat: no-repeat;
}
.styleGridEditDisabled
{
	background-image:url('../../Images/edit_gray.png');	
	width:16px;	
	height:16px;
	border:0px;	
	background-repeat: no-repeat;
}
.styleGridQueryDisabled
{
	background-image:url('../../Images/query_gray.png');
	width:16px;	
	height:16px;
	background-repeat: no-repeat;
}
.styleGridAddQueryDisabled
{
	
	width:16px;	
	height:16px;
	background-repeat: no-repeat;
}

.styleGridAddEditDisabled
{	
	width:16px;	
	height:16px;
	border:0px;	
	background-repeat: no-repeat;
}	
.styleGridQuery
{
	background-image:url('../../Images/query_new.png');
	width:16px;	
	height:16px;
	background-repeat: no-repeat;
}
.styleImageSortingAsc
{
	background-image:url('../../Images/ArrowUp.gif');	
	background-repeat: no-repeat;
	width:7px;	
	height:7px;
	cursor:default;
}
.styleImageSortingDesc
{
	background-image:url('../../Images/ArrowDown.gif');	
	background-repeat: no-repeat;
	width:7px;	
	height:7px;
	cursor:default;
}
.stylePagingTextBox
{
	font-size:13px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif !important;
	height:16px;
}


/*input
{
    color:Navy;
    font-family: 'Roboto', sans-serif !important;
    font-size:12px;
}
input.text
{
    border:solid 1px;
    border-color:#336699;
    
    color:Navy;
    height:1px;
}
.btnsearch
{
    PADDING-RIGHT: 0.18em;
    PADDING-LEFT: 0.18em;
    PADDING-BOTTOM: 0.09em;
    WIDTH: 1.8em;
    PADDING-TOP: 0.09em;
    height:1.4em;
    BACKGROUND-COLOR: #fff;
   
}
.btnsbmt
{
    DISPLAY: inline;
    FLOAT: left;
}
.txtclass
{
     BORDER-RIGHT: 0px;
    BORDER-TOP: #a3aeb1 1px solid;
    FLOAT: left;
    BORDER-LEFT: #a3aeb1 1px solid;
    BORDER-BOTTOM: #a3aeb1 1px solid;
    BACKGROUND-COLOR: white
}*/
/*used in code for Applying style of Sitemap td 
.styleHeaderName
{
  
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   color:Background;
   padding-left:0px;

}*/
/* style used to set border style for Menu Td*/
.styleMenuTd
{
    border-right-color:#cee1fa;
    border-right-style:solid;
    border-right-width:3px;

}

.styleMandatory
{
    /*color:Red;*/
     color:Navy;
    font-size:11px;
    vertical-align:top;
}
.styleMandatoryLabel{
    font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   /*color:Red;*/
   color:Navy;
  
   text-align:left;
   text-decoration:none;
}

.styleMandatoryLabelLogin{
    font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   /*color:Red;*/
   color:Red;
  
   text-align:left;
   text-decoration:none;
}

.styleFieldAlign
{
    vertical-align:top;
    padding-top:3px;
    text-align:left;
    padding-left:10px;
}
.stylePagingSubmitButton
{
   background-color:#336699;
   background-image:url('../../Images/button_new_blue.gif');
   text-align:center;
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:37px;
   color:Navy;
  border-style:none;
   width:90px;
   
   /*commented as image has top border*/
   /*border-top-color:aliceblue;
   border-top-width:1px;
   border-top-style:solid;*/
}
.styleSubmitButton
{
   background-color:#336699;
   background-image:url('../../Images/button_new_blue.gif');
   text-align:center;
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:27px;
   color:Navy;
  /* border:1px solid gray;*/
   border-style:none;
   border-right-color:aliceblue;
   border-right-width:0px;
   border-right-style:solid;
   border-left-color:aliceblue;
   border-left-width:0px;
   border-left-style:solid;
   border-bottom-color:aliceblue;
   border-bottom-width:0px;
   border-bottom-style:solid;
   width:103px;
   /*commented as image has top border*/
   /*border-top-color:aliceblue;
   border-top-width:1px;
   border-top-style:solid;*/
}
.styleSubmitLongButton
{
   background-color :White;
   background-image:url('../../Images/button_blistering_long.gif');
   text-align:center;
   font-family: 'Roboto', sans-serif !important;

   font-size:12px;
   height:27px;
   color:Navy;
  /* border:1px solid gray;*/
   border-style:none;
   border-right-color:aliceblue;
   border-right-width:1px;
   border-right-style:solid;
   border-left-color:aliceblue;
   border-left-width:1px;
   border-left-style:solid;
   border-bottom-color:aliceblue;
   border-bottom-width:1px;
   border-bottom-style:solid;
   
   /*commented as image has top border*/
   /*border-top-color:aliceblue;
   border-top-width:1px;
   border-top-style:solid;*/
}
.styleForgotPwdButton
{
	background-color:White;
   background-image:url('../../Images/login/forgot_password_button.gif');
  text-align:center;
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:27px;
   color:Navy;
   border-style:none;
   border-right-color:aliceblue;
   border-right-width:0px;
   border-right-style:solid;
   border-left-color:aliceblue;
   border-left-width:0px;
   border-left-style:solid;
   border-bottom-color:aliceblue;
   border-bottom-width:0px;
   border-bottom-style:solid;
 width:150px;
}
.styleSubmitShortButton
{
	background-color:White;
   background-image:url('../../Images/button_blistering_short.gif');
  text-align:center;
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:27px;
   color:Navy;
  /* border:1px solid gray;*/
   border-style:none;
   border-right-color:aliceblue;
   border-right-width:0px;
   border-right-style:solid;
   border-left-color:aliceblue;
   border-left-width:0px;
   border-left-style:solid;
   border-bottom-color:aliceblue;
   border-bottom-width:0px;
   border-bottom-style:solid;
   width:49px;
   /*commented as image has top border*/
   /*border-top-color:aliceblue;
   border-top-width:1px;
   border-top-style:solid;*/
}

.styleGridShortButton
{
   background-color:#336699;
   background-image:url('../../Images/button_blistering_gridshort.gif');
   text-align:center;
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:27px;
   color:Navy;
  /* border:1px solid gray;*/
   border-style:none;
   border-right-color:aliceblue;
   border-right-width:0px;
   border-right-style:solid;
   border-left-color:aliceblue;
   border-left-width:0px;
   border-left-style:solid;
   border-bottom-color:aliceblue;
   border-bottom-width:0px;
   border-bottom-style:solid;
   width:49px;
   height:25px;
   /*commented as image has top border*/
   /*border-top-color:aliceblue;
   border-top-width:1px;
   border-top-style:solid;*/
}

.styleFieldLabel
{
   font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   color:Navy;
   
   padding-left:12px;  
   text-align:left;
}
.stylePageHeading
{
   background-image:url('../../images/title_headerBG.jpg');
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:13px;
   color:Navy;
   width:99.5%;
   padding-left:3px;
   /*height:18px;*/
   border-bottom:1px solid #788783;
   border-top:1px solid #788783;
   margin-bottom:2px;
   filter:glow(color=InactiveCaptionText,strength=50);
}

/* Css class for SiteMap begins*/
.styleSitepath
{
    padding-left:15px;
    font-size:12px;
    font-family: 'Roboto', sans-serif !important;
}
.stylePathsep
{
    font-weight:bold;
     color:Navy;
}
.styleCurrentNode
{
    
     color:Navy;
}
.styleNode
{
    font-weight:bold;
     color:Navy;
}
.styleRootNode
{
    font-weight:bold;
     color:Navy;
}
/* Css class for SiteMap ends*/

/* cssclass responsible for Back ground color change */
.styleContentBG	
{
	background-color:#cee1fa;
	 width:100%;
    height:460px;
}
.styleHeaderLinks
{
    font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:12px;
	color:Navy;
	text-decoration:none;
}
.styleHeaderLinks:hover
{
   /* color:#ffffff;*/
    text-decoration:underline;
}

a.styleTopTd hover
{
    color:Navy;
    text-decoration:underline;
}
.styleHeaderInfo
{
    font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:12px;
	color:Navy;
	text-decoration:none;
}
.styleInfoLabel
{
    font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:14px;
	color:Navy;
	text-decoration:none;
}
.styleDisplayLabel
{
    font-family: 'Roboto', sans-serif !important;
	font-size:14px;
	color:Navy;
	text-decoration:none;
	
}
.styleTicker
{
     width: 66%;
     background-color:#eff4fb;
     font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:11px;
	color:Navy;
}
.styleTopTd
{
   background-image:url('../../images/welcome_headerBG.jpg');
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   color:Navy;
   height:26px;
}
.styleSpanLine
{
    color:Gray;
    padding-left:5px;
    padding-right:3px;
}
.styleFooterSpanLine
{
    color:Gray;
    padding-left:5px;
    padding-right:3px;
}
.styleMainTable
{
 	border-bottom-color:#77B6E9;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#77B6E9;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#77B6E9;
	border-right-style:solid;
	border-right-width:1px;
 	 width:100%;
}
.styleContentTable
{
	 border-left-color:#77B6E9; 
	 border-right-color:#77B6E9;
	 border-bottom-color:#77B6E9;
	 border-top-color:#77B6E9;
	 border-style:solid;
 	 border-width:1px;	
 	 width:99%; 	
 	 background-color:white; 
}
.styleFooterInfo a
{
 color:Navy;
 text-decoration:none;
 font-family: 'Roboto', sans-serif !important;
 font-size:12px;
}
.styleFooterInfo 
{
 color:Navy;
 text-decoration:none;
 font-family: 'Roboto', sans-serif !important;
 font-size:12px;
}
.styleFooterInfo a:hover
{
    
   text-decoration:underline;
}

/* For Menu Collapse*/
.styleToolTip
{
    color:Navy;
    font-family: 'Roboto', sans-serif !important;
    font-size: 11px;
    background-color:#A4BDE5;
    /*background-color:Yellow;*/
   /*filter:alpha(opacity=100,finish opacity=3,style=1,startx=0,starty=0,finishx=580,finishy=0);*/
}
.styleHeaderBg
{
	background-image:url('../../images/top_headerBG.jpg');
	background-repeat:repeat;
	/*height:50px;*/
}


.styleNewHeaderBg
{
	background-image:url('../../images/login/header_bg.jpg');
	background-repeat:repeat;
	/*height:50px;*/
}
.styleGridHeader
{
    color:Navy;
    text-decoration:none;
    background-color:aliceblue;
    /*cursor:default;*/
    /*background-image:url('../../images/S3GTdbg_1.jpg');
	background-repeat:repeat-x;
    height:20px;*/
}
.styleGridHeaderLinkBtn
{
    color:Navy;
    text-decoration:underline;
	
}
.styleGridHeaderLinkBtnHeading
{
    color:Navy;
    font-weight:bold;
    text-decoration:underline;
}

.styleMarquee
{
    font-family: 'Roboto', sans-serif !important;
    font-size:11px;
    font-weight:bold;
    color:Navy;
    background-color:#ffffff;
    /*background-color:#cee1fa;*/
}
.styleMenuImage
{
    filter:alpha(opacity=60);
}
.styleMenuImage:hover
{
    filter:alpha(opacity=100);
}
.styleLoginImage
{
      background-image: url('images/loginImg.gif');
      background-repeat: no-repeat;
      height: 187px;
      width: 850px;
}
.styleNewLoginImage
{
     background-image: url('../../Images/login/girl_bottom_left.png');
      background-repeat: no-repeat;
      background-position:left;
     height: 200px;       
}
.styleoginText
{
      font-family: 'Roboto', sans-serif !important;
      color: #FFFFFF;
      font-size: 12px;
}

.styleNewTopLoginImage
{     
	background-image:url('../../images/login/login_topStr.jpg');
	background-repeat: repeat-x;
      
}
.styleNewLeftSideLoginImage
{     
	background-image:url('../../images/login/login_leftTop.jpg');	      
	
}

.styleNewRightSideLoginImage
{     
	background-image:url('../../images/login/login_rightTop.jpg');	      	
}

.styleNewBottomLoginImage
{
	background-image:url('../../images/login/login_bottomStr.jpg');
	background-repeat: repeat-x;	
}



/* Code for jquery menu*/
 .arrowlistmenu
{
    width: 190px; /*width of accordion menu*/
}
.arrowlistmenu .menuheader
{
    /*CSS class for menu headers in general (expanding or not!)*/
    font: bold 14px Arial;
    color: white;
    background: Navy url('../../images/systemadmin.jpg') repeat-x center left;
    margin-top: 0px;
    margin-bottom: 1px; /*bottom spacing between header and rest of content*/
    text-transform: uppercase;
    padding: 0px; /*header text is indented 10px*/
    padding-bottom: 0px;
    cursor: hand;
    cursor: pointer;
}
.arrowlistmenu .openheader
{
    /*CSS class to apply to expandable header when it's expanded*/
    background-image: url(../../images/titlebar-active.png);
}
.arrowlistmenu ul
{
    /*CSS for UL of each sub menu*/
    list-style-type: none;
    margin: 0;
    padding: 0px;
    margin-bottom: 0px; /*bottom spacing between each UL and rest of content*/
}
.arrowlistmenu ul li
{
    padding-bottom: 2px; /*bottom spacing between menu items*/
}
.arrowlistmenu ul li .opensubheader
{
    /*Open state CSS for sub menu header*/
    background: lightblue !important;
}
.arrowlistmenu ul li .closedsubheader
{
    /*Closed state CSS for sub menu header*/
    background: lightgreen !important;
}
.arrowlistmenu ul li a
{
    color: #A70303;
    background: url(../../images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/
    display: block;
    padding: 2px 0;
    padding-left: 19px; /*link text is indented 19px*/
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #dadada;
    font-size: 90%;
}
.arrowlistmenu ul li a:visited
{
    color: #A70303;
}
.arrowlistmenu ul li a:hover
{
    /*hover state CSS*/
    background-color: #F3F3F3;
}
.arrowlistmenu ul li a.subexpandable:hover
{
    /*hover state CSS for sub menu header*/
    background: lightblue;
}
/* Code for jquery menu  ends*/

/* Accordion */
.accordionHeader
{
    /*border: 1px dashed navy;*/
    color: white; /*background-color: #2E4d7B;*/
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    cursor: hand;
    color: Navy;
    background-image: url('../../Images/welcome_headerBG.jpg');
    height: 15px;
}
 .accordionHeader:hover
 {
    text-decoration: underline;
    background-image: url('../../Images/welcome_headerBG.jpg');    
	/*background-image:url('../../images/Menu_hover.JPG');*/
 }
.accordionHeaderSelected
{
    /*border: 1px solid #2F4F4F;*/
    color: white;
    background-color: #5078B3;
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    background-image:url('../../images/title_headerBG.JPG');
    /*background-image:url('../../images/Menu_sel.JPG');*/
    cursor: pointer;
    
}
.accordionHeaderSelected:hover
{
	 background-image: url('../../Images/welcome_headerBG.jpg'); 
	/*background-image:url('../../images/Menu_hover.JPG');*/
	/*background-color:Navy;*/

}
.accordionContent
{
    /*background-color: aliceblue;*/
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    border-top: none;
    padding: 5px;
    text-decoration:none;
    color:Navy;
   /* background-image:url('../../images/login_adv.gif');*/
    background-position:center;
    background-attachment:inherit;
    background-repeat:no-repeat;
    
}
.accordionContent a
{
    text-decoration:none;
    color:Navy;
}

.accordionContent a:hover
{
    /*background: none;*/
    
    text-decoration: underline;
}
.accordionContent a:active
{
    /*background: none;*/
    background-color: #B9DCFF;
    text-decoration: underline;
}



/* Accordion */
.accordionHeader_Con
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #2E4d7B;
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeader_Con a
{
	color: white;
	background: none;
	text-decoration: none;
}

.accordionHeader_Con a:hover
{
	/*background: none;*/
	
	text-decoration: none;
}

.accordionHeaderSelected_Con
{
    border: 1px solid #2F4F4F;
    color: white;
    background-color: #5078B3;
	font-family: 'Roboto', sans-serif !important;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeaderSelected_Con a
{
	color: #FFFFFF;
	background: none;
	text-decoration: none;
}

.accordionHeaderSelected_Con a:hover
{
	
	text-decoration: underline;
}
.accordionHeader_Con:hover
{
    
	text-decoration: underline;
}

.accordionContent_Con
{
    background-color: #D3DEEF;
    border: 1px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
}

/*Accrodion Style Ends*/

/*Ajax tabpanel*/

.styleTabPanel .ajax__tab_header 
{
    background:url(../../images/tab-line.gif) repeat-x bottom;
    white-space:normal !important;
    font-size:10px;
   
 
}
.styleTabPanel .ajax__tab_tab {height:13px;padding:4px;margin:0px;background:url(../../images/blue_middleStretch.gif) repeat-x;color:Navy;font-weight: bold; }
.styleTabPanel .ajax__tab_outer {padding-right:4px;background:url(../../images/blue_rightCurve.gif) no-repeat right;height:21px;}
.styleTabPanel .ajax__tab_inner {padding-left:3px;background:url(../../images/blue_leftCurve.gif) no-repeat;}

.styleTabPanel .ajax__tab_body{padding-left:3px;padding-top:3px;border-right:1px solid #999999;border-left:1px solid #999999;border-top:0;border-bottom:1px solid #999999;}
.styleTabPanel .ajax__tab_hover .ajax__tab_tab {cursor:hand;background:url(../../images/blue_middleStretch.gif) repeat-x; }
.styleTabPanel .ajax__tab_hover .ajax__tab_outer{background:url(../../images/blue_rightCurve.gif) no-repeat right;}
.styleTabPanel .ajax__tab_hover .ajax__tab_inner{background:url(../../images/blue_leftCurve.gif) no-repeat;}
.styleTabPanel .ajax__tab_active .ajax__tab_tab 
{
    background:url('../../images/blue_middleStretch.gif') repeat-x; /*border-top:1px solid blue;*/
  
}
.styleTabPanel .ajax__tab_active .ajax__tab_outer 
{
   background:url(../../images/blue_rightCurve.gif) no-repeat right;
  
}
.styleTabPanel .ajax__tab_active .ajax__tab_inner 
{
   background:url(../../images/blue_leftCurve.gif) no-repeat;
  
}
/* scrolling */
.ajax__scroll_horiz {overflow-x:scroll;}
.ajax__scroll_vert {overflow-y:scroll;}
.ajax__scroll_both {overflow:scroll}
.ajax__scroll_auto {overflow:auto}

/*Styles Ajax tabpanel Ends*/

.styleTabSubmitTd
{
    border-right:1px solid #999999;
    border-left:1px solid #999999;
    border-bottom:1px solid #999999;
}

/*Style Code for Tab control ends*/

/*login details*/
.styleLoginTable
{
      border-color: Navy;
      border-style: solid;
      border-width: 1px;
      width: 100%;
      height: 100%;
}

.styleLoginBody
{
      background-color: #cee1fa;
      
}


.styleLoginContent
{
      border-left-color: #77B6E9;
      border-right-color: #77B6E9;
      border-bottom-color: #77B6E9;
      border-top-color: #77B6E9;
      border-style: solid;
      border-width: 1px;
      margin: 1px 1px 4px 4px;
      width: 99%;
}

.styleLoginHeading
{
      background-color: #3e7fb9;
      font-family: 'Roboto', sans-serif !important;
      font-style: italic;
      font-weight: bold;
      font-size: 15px;
      color: #FFFFFF;
      height: 31px;
      vertical-align: middle;
}
.styleLoginContentBody
{
     background-color:#cee1fa;
      /*border-left-color: #77B6E9;*/
      border-right-color: #77B6E9;
      border-bottom-color: #77B6E9;
      border-top-color: #77B6E9;
      border-style: solid;
      border-width: 1px;
}

.styleLoginImage
{
      background-image: url('../../images/loginImg.gif');
      background-repeat: no-repeat;
      height: 187px;
      width: 650px;
}

.styleLoginLabel
{
      font-family: 'Roboto', sans-serif !important;
      color: navy;
      font-size: 12px;
}

.styleLoginFooter
{
      height: 5%;
      background-color: #E8E8E8;
      border-top-color: gray;
      border-top-style: solid;
      border-width: 1px;
      font-family: 'Roboto', sans-serif !important;
      font-size: 11px;
}

p.MsoNormal
      {margin-bottom:.0001pt;
      font-size:11.0pt;
      font-family: 'Roboto', sans-serif !important;
              margin-left: 0in;
            margin-right: 0in;
            margin-top: 0in;
      }

/*login details*/
/*Message below Grid*/
.styleMessageTd
{
border:1px; 
background-color:silver;
}
.styleMessageLabel
{
    /*color:Red;*/
    color:Navy;
    font-weight:bold;
    font-family: 'Roboto', sans-serif !important;
    font-size:small;
}
/*Message below Grid*/

/* for masked editor*/
/************ MaskedEdit Related Styles ***********************/
.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}
.MaskedEditMessage
{
	color: #ff0000;
	font-weight: bold;
}
.MaskedEditError
{
    background-color: #ffcccc;
}
.MaskedEditFocusNegative
{
    background-color: #ffffcc;
    color: #ff0000;
}
.MaskedEditBlurNegative
{
    color: #ff0000;
}
/* for masked editor*/

.styleButtonArea
{
    padding-left:45px;
    padding-top:4px;
    padding-bottom:4px;
}   
.styleReqFieldFocus
{
    background-color:#ffffcc;
}
.styleReqFieldDefalut
{
    background-color:White;
}

/*popup*/


.popupConfirmation
{
	width: 700px;
	height: 500px;
}

.ModalPopupBG
{
	background-color: #666699;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.popup_Container {
	background-color:#fffeb2;
	border:2px solid #000000;
	padding: 0px 0px 0px 0px;
}

.TitlebarLeft 
{
	float:left;
	padding-left:5px;
	padding-top:5px;
	font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:12px;
	color:#FFFFFF;
}

.popup_Buttons
{
	margin:10px;
}

.popup_Body
{
	padding:15px 15px 15px 15px;
	font-family: 'Roboto', sans-serif !important;
	font-weight:bold;
	font-size:12px;
	color:#000000;		
	clear:both;
	padding:20px;
}
.popup_Titlebar {
	background: url(../../Images/titlebar_bg.jpg);
	height: 29px;
}
.styleButtonArea
{
    padding-left:45px;
    padding-top:4px;
    padding-bottom:4px;
}   
.styleReqFieldFocus
{
    background-color:#ffffcc;
}
.styleReqFieldDefalut
{
    background-color:White;
}
.styleButtonNext
{
	
font-family: 'Roboto', sans-serif !important;
font-size: 12px;
color: #0066ff;
border:0px;
padding-right:5px;
background-color:White;
}
 /*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin: 0px !important;
    background-color: inherit;
    color: windowtext;
    border: buttonshadow;
    border-width: 1px;
    border-style: solid;
    cursor: 'default';
    overflow: auto;
    height: 200px;
    text-align: left;
    list-style-type: none;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
{
    background-color: #ffff99;
    color: Navy;
    padding: 1px;
}
/* AutoComplete item */
.autocomplete_listItem
{
    background-color: window;
    color: windowtext;
    padding: 1px;
}
.styleRoundedExtender
{
   background-color:aliceblue;
}
/* Panel Styles Added by Nataraj Y*/
.stylePanel
{
	padding-bottom:3px;
    padding-top:5px;
    padding-left:2px;
    padding-right:5px;
    overflow:auto;
}
.stylePanel legend
{
    color:#003d9e;
    font-size:12px;
    font-weight:bolder;
    font-variant:small-caps;
    display:table-header-group;
}

.stylePanel fieldset
{
    border:solid 1px #336699;
    overflow:inherit;
    
}
.styleGridview caption
{
    color:Navy;
    font-size:12px;
    font-weight:bolder;
    font-variant:small-caps;
    border:solid 1px #cee1fa;
}
/* Panel Styles Added by Nataraj Y Ends Here*/
/* Added by Kali to convert lowercase to uppercase while typing*/
.styleTextUpperCase
{
	text-transform:uppercase;
}
.styleCheklist
{
    color:Navy;
    font-size:12px;
    border:solid 1px #cee1fa;
    background-color:#cee1fa;
    
    
}


/* style for validation control notes*/
.styleMandatoryNotes
{
   font-family: 'Roboto', sans-serif !important;
   font-size:11px;
   /*color:red;*/
   color:Navy;
   padding-left:12px;  
   text-align:left;
}

/* Validation summary style */

.styleSummaryStyle
{
   font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   /*color:Red;*/
   color:Navy;
   text-align:left;
   padding-left:10px;
   text-decoration:none;
}

.styleReqFieldLabel
{
   font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   /*color:Navy;*/
   text-align:left;
   background-image:url('../../images/Star_blue.PNG');
   background-repeat:no-repeat;
   background-position:right center;
   padding:5px 10px 0px 0px;
   
}
/* ComboBox styles */

.ajax__combobox_itemlist
{
    margin: 0px;
}
.ajax__combobox_itemlist li
{
    font-size:12px;
    white-space: nowrap;
    width: 100%;
    padding: 0 3px 0 2px;
}

.AjaxToolkitStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    background-image: url(../../images/combo/toolkit-bg.gif);
    background-position: top left;
    border: 0px none;
    color: #FFFFFF;
    padding: 4px 0px 3px 5px;
    font-size: 13px;
    height: 16px;
    width: 240px;
}
.AjaxToolkitStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    background-image: url(../../images/combo/toolkit-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 23px;
    width: 23px;
}
.AjaxToolkitStyle .ajax__combobox_itemlist
{
    font-size:12px;
    border-color: #0F2543;
    background-color: #EFEFEF;
}

.AquaStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    background-image: url(../../images/combo/aqua-bg.gif);
    background-position: top left;
    border: 0px none;
    padding: 2px 0px 0px 8px;
    font-size: 11px;
    height: 17px;
    width: 150px;
}
.AquaStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    background-image: url(../../images/combo/aqua-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 19px;
    width: 19px;
}
.AquaStyle .ajax__combobox_itemlist
{
    font-size:12px;
    border-color: #000000;
    background-color: #FFFFFF;
}
.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    border: solid 1px #7F9DB9;
    border-right: 0px none;
    padding: 1px 0px 0px 5px;
    font-size: 13px;
    height: 18px;
   
}
.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    margin: 0;
    padding: 0;
    background-image: url(../../images/combo/windows-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 21px;
    width: 21px;
}
.WindowsStyle1 .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    margin: 0;
    padding: 0;
    background-image: url(../../images/combo/windows-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 21px;
    width: 21px;
    
}
.WindowsStyle1 .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    border: solid 1px #7F9DB9;
    border-right: 0px none;
    padding: 1px 0px 0px 5px;
    font-size: 13px;
    height: 18px;
    text-transform:uppercase;
}
.WindowsStyle1 .ajax__combobox_itemlist
{
    font-size:12px;
    border-color: #7F9DB9;
}
.WindowsStyle .ajax__combobox_itemlist
{
    font-size:12px;
    border-color: #7F9DB9;
}
.styleAutoGenerated
{
    background-color:#FCFFCC;
    text-transform:uppercase;
    
    
}

/* CSS Document Login */

.leftTopCurve {
background-image:url(../../images/login/loginBox_left_topcurve.gif);
background-repeat:no-repeat;
background-position:center;
}

.logintable {
border-left-style:solid;
border-left-color:#e1e6e9;
border-left-width:1px;
border-right-style:solid;
border-right-color:#e1e6e9;
border-right-width:1px;
background-image:url('../../Images/login/login_box_bg_01');
background-repeat:repeat-y;

}

.rightTopCurve{
background-image:url(../../images/login/loginBox_right_topcurve.gif);
background-repeat:no-repeat;
background-position:center;

}

.topStretch{
background-image:url(../../images/login/loginBox_topcurve.gif);
background-repeat:no-repeat;

height:20px;

}


.leftBottomCurve{
background-image:url(../../images/login/login_leftBottom1.jpg);
background-repeat:no-repeat;
height:48px;
width:21px;
background-position:center;
}

.rightBottomCurve{
background-image:url(../../images/login/login_rightBottom1.jpg);
background-repeat:no-repeat;
height:48px;
width:21px;
background-position:center;

}

.bottomStretch{
background-image:url(../../images/login/login_bottomStr1.jpg);
background-repeat:repeat-x;
background-position:bottom;
height:48px;
width:21px;
}

.styleSubmitImages
{
    cursor:default;
}
.styleCreateButton
{
    
    background-image:url(../../images/create_blue.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/

    
}
.styleShowallButton
{
    background-image:url(../../images/showAll_blue.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/
}

.styleSaveButton
{
    background-image:url(../../images/save_blue.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/
}

.styleCancelButton
{
    background-image:url(../../images/cancel_blue.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/
}
.styleClearButton
{
    background-image:url(../../images/clear_blue.jpg);
    width:78px;
    height:22px;
    /*cursor:default;*/
}
.styleGoButton
{
    /*background-image:url(../../images/go_blue.jpg) ;

    width:42px;
    height:22px;*/
    
    background-color:White;
   background-image:url('../../Images/go_blue.jpg');
   text-align:center;
   font-family: 'Roboto', sans-serif !important;
   font-weight:bold;
   font-size:12px;
   height:22px;
   color:Navy;
  /* border:1px solid gray;*/
   border-style:none;
   width:42px;
  
    
}

/*Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}

.modalPopup p {
    padding: 5px;
}
/*Hover Menu*/
.popupMenu {
	position:absolute;
	visibility:hidden;
	background-color:#F5F7F8;
	}

.popupHover {
	background-image:url(images/header-opened.png);
	background-repeat:repeat-x;
	background-position:left top;
	background-color:#F5F7F8;
}

.FrozenHeader
{
    background-color:"aliceblue";
    position:relative;
    top:expression(document.getElementById("divGrid").scrollTop-2);
    z-index:10;
}
.txtRightAlign
{
	text-align:right;	
}
.styleDimText
{
	font-style: italic;
	color: #CCCCCC;
	font-weight: lighter;
}
.styleTxtRightAlign
{
	text-align:right;	
}

.styleAttachedFile
{
	font-family: 'Roboto', sans-serif !important;
   font-size:14px;
   color:Green;
   
   padding-left:12px;  
   text-align:left;
 }


/********************Login Styles*************************/
/** {margin:0px; padding:0px;}*/
/*ul li {list-style:none; float:left; text-decoration:none;}
.clr {clear:both;}
img {border:none;}
img:hover {border:none;}
a {outline:none;}
.fll {float:left;}
.flr {float:right;}*/

/*body {margin:0px; background:#FFF; 
     font-family: 'Roboto', sans-serif !important;
       color:#808080;}*/

#wrapper {width:100%; margin:0 auto; border:0px solid red;}
.container {width:100%; position:relative; margin:0 auto; border:0px solid blue;}
.headerPart {width:100%; height:72px; background:url(../../images/login/header_bg.jpg) repeat-x; float:left;}
.headerPart img {float:left; padding:5px 0px 0px 30px;}

/*main part*/
.main {width:100%; float:left;}
.mainLeft {width:65%; float:left; vertical-align:top;}
.contentPart {width:95%; float:right; margin:15px 0px 0px 22px; border-right:1px solid #e1e6e9; background:#feffff url(../../images/login/content_bg.gif) repeat-x;}
.contentTopImgPart {float:left; width:100%; height:12px; background:url(../../images/login/content_topline_bg.gif) repeat-x;}
.contentCenterImgPart {width:95.2%; height:auto; background:#feffff url(../../images/login/content_bg.gif) repeat-x; 
                       border-left:solid #e1e6e9; 
                       border-top:solid #e1e6e9; 
                       border-bottom:solid #e1e6e9; 
                       border-width:0px 1px 0px ; text-align:justify; padding:0px 14px 0px; line-height:19px; height:300px}

.contentLoadCenterImgPart {width:95.2%; height:auto; background:#feffff url(../../images/login/content_bg.gif) repeat-x; 
                       border-left:solid #e1e6e9; 
                       border-top:solid #e1e6e9; 
                       border-bottom:solid #e1e6e9; font-size:13px;
                       border-width:0px 1px 0px ; text-align:justify; padding:0px 14px 0px; line-height:19px; height:300px; overflow-y:scroll; height:250px}
                       
.contentBottomImgPart {float:left; width:100%; height:12px; background:url(../../images/login/content_bottomline_bg.gif) repeat-x;}
.mainLeft img {float:left;}


.mainRight {width:32%; float:right; margin-right:8px; padding-top:60px;}
.clientLogoPart {width:310px; position:absolute; top:0px; float:left;}
.clientLogoPartLeft {width:17px; height:132px; background:url(../../images/login/client_logopart_leftcurve.gif) no-repeat bottom left; float:left;}
.clientLogoCenterPart {width:276px; height:132px; background:#fff url(../../images/login/client_logopart_center_bgwith_header.gif) repeat-x; float:left;}
.abcLogo {position:absolute; top:7px; right:-19px; overflow:hidden; float:right;}
.clientLogoPartRight {width:17px; height:132px; background:url(../../images/login/client_logopart_rightcurve.gif) no-repeat bottom right;float:right;}


/*login part*/
.clientLoginPart {width:auto; float:left;}
.clientLoginTopCurvePart {width:312px;height:auto;float:left; background:url(../../images/login/loginBox_top_centerbg.gif) repeat-x;}
.clientLoginTxtPartBg {width:310px; height:auto; float:left; background:#fefeff url(../../images/login/login_box_bg_01.gif) repeat-x bottom left; border:solid #e1e6e9; border-width:0px 1px 0px 1px;}
.clientLoginUserPwordPart {width:400px; height:auto; float:left; margin:16px 0px 0px 10px;}
.clientLoginUserPwordPart ul {float:left;}
.clientLoginUserPwordPart ul li {width:258px; margin:0px 0px 10px 0px; list-style:none; overflow:hidden;}
.clientLoginUserPwordPart ul li label {width:90px; float:left; text-align:right; font:bold 14px Calibri; color:#333; padding-top:4px;}
.clientLoginUserPwordPart ul li input {width:134px;height:20px;float:right; padding:2px 0px 0px 26px; border:1px solid #c8c8c8;}
.clientLoginUserPwordPart ul li input.useridimg
{
	background: #fff url(../../images/login/userid_icon.gif) no-repeat 5px 3px;
}
.clientLoginUserPwordPart ul li input.pwordimg {background:#fff url(../../images/login/password_icon.gif) no-repeat 5px 1px;}

.loginButton {float:right; margin:10px 0px 0px 0px;}

.mainLoaRight {width:32%; float:right; margin-right:8px; padding-top:10px;}
.clientLoadTxtPartBg {height:310px; float:left; background:#fefeff url(../../images/login/login_box_bg_01.gif) repeat-x bottom left; border:solid #e1e6e9; border-width:0px 1px 0px 1px;}

.clientLoadUserPwordPart {float:left; margin:16px 0px 0px 10px; padding-right:10px;}
.clientLoadUserPwordPart ul {float:left;}
.clientLoadUserPwordPart ul li {margin:0px 0px 10px 0px; list-style:none; overflow:hidden;}
.clientLoadUserPwordPart ul li label {width:200px; float:left; text-align:left; font:bold 14px Calibri; color:#333; padding-top:4px;}
.clientLoadUserPwordPart ul li input {height:20px;float:right; padding:2px 0px 0px 26px; border:1px solid #c8c8c8;}
.clientLoadUserPwordPart ul li input.useridimg
{
	background: #fff url(../../images/login/userid_icon.gif) no-repeat 5px 3px;
}
.clientLoginUserPwordPart ul li input.pwordimg {background:#fff url(../../images/login/password_icon.gif) no-repeat 5px 1px;}


.clientLoginButtonPart {width:312px; height:27px; float:left; background:url(../../images/login/login_bottombutton_bg.gif) repeat-x;}
.clientLoginButtonPart .ppolicy {width:auto; float:left;}
.clientLoginButtonPart .ppolicy a {display:block; text-decoration:none; color:#070707; padding:6px 30px;}
.clientLoginButtonPart .ppolicy a:hover {text-decoration:none; color:#309;}
.clientLoginButtonPart .fpword {width:auto; float:left;}
.clientLoginButtonPart .fpword a {display:block; text-decoration:none; color:#070707; padding:6px 10px;}
.clientLoginButtonPart .fpword a:hover {text-decoration:none; color:#309;}
.clientLoginButtonPart .sepimg {width:7px; height:27px; float:left;}
.clientLoginButtonSeperate {width:7px; height:27px; float:left; position:relative; top:0px; left:0px; z-index:9999; background:url(../../images/login/login_bottombutton_seperate.gif);}


.mainRightBottom {float:left; margin:16px 0px 0px 0px;}


/*footer part*/
/*.footer {width:100%; height:39px; background:url(../../images/login/footer_bg.jpg) repeat-x; float:left;}
.footer p a {display:block; color:#000080; text-decoration:none; text-align:center; margin-top:11px;}
.footer p a:hover {color:#000080; text-decoration:none;}*/

.btnFollowUp_Up
{
	background-image:url('../../Images/Blue_2/uparrow_03.png');		
	background-color:White;	
	background-repeat: no-repeat;   
	height:27px; 
	border-style:none;  
	width:30px;
}
.btnFollowUp_Down
{
	background-image:url('../../Images/Blue_2/downarrow_03.png');	
	background-color:White;		
	background-repeat: no-repeat;   
	height:27px; 
	border-style:none;  
	width:30px;
}
.gridRowBG
{
	background-color: #99CCFF;
}
.gridRowBGClose
{
	background-color: #CFE4FC;
}
.gridRowBackColor_First
{
	background-color :#B8CCE4
}
.gridRowBackColor_Second
{
	background-color :#DBE5F1;
}


/*chandru*/
.CompletionList
{
    background-repeat: repeat-x;
    background-color: #F7FAFC;
    z-index: 10000;
    max-height: 250px;
    text-align: inherit;
    text-indent: 2px;
    list-style: none;
    color:Navy;
    overflow-y: auto; /*scrollbar-arrow-color: #B89020;
    scrollbar-base-color: #8E6E1C;
    scrollbar-face-color: #B6C5D4;
    scrollbar-3dlight-color: #8E6E1C;
    scrollbar-highlight-color: #EED47D;
    scrollbar-shadow-color: #959595;
    scrollbar-darkshadow-color: #00337E; */
    overflow-x:hidden;
    margin-left: 2px;
    border-width: 1px;
    border-style:solid;
    border-color: #D8D8D8;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif !important;
    font-size:12px;
    
}
.CompletionListItemCssClass
{
    background: none;
    color: #00337E;
    border-collapse: collapse;
    white-space: nowrap;
    text-align: inherit left;
    padding:3px;
   
}
.CompletionListHighlightedItemCssClass
{
    background-color: #3399FF;
    color: White;
    border-collapse: collapse;
    white-space: nowrap;
    text-align: inherit left;
    padding:3px;
}
.CompletionListWithFixedHeight
{
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    z-index: 10000;
    width: 245px !important;
    height: 200px;     
    text-align: inherit;
    text-indent: -1;
    list-style: none;
    overflow-y: scroll;        
    /*scrollbar-arrow-color: #B89020;
    scrollbar-base-color: #8E6E1C;
    scrollbar-face-color: #B6C5D4;
    scrollbar-3dlight-color: #8E6E1C;
    scrollbar-highlight-color: #EED47D;
    scrollbar-shadow-color: #959595;
    scrollbar-darkshadow-color: #00337E;*/
    margin-left: 0px;
    border-bottom: 1px solid #B5C6D4;
    border-left: 1px solid #B5C6D4;
    border-top: 1px solid #B5C6D4;
    margin-top: 0px;        
}
/*chandru*/

/*Thangam*/
.tabMenuItem
{
    height:22px
}

.tabMenuItem td
{
    padding-left:5px;
    padding-right:5px;
    font-size:13px;
}

.tabMenuItem:hover
{
    height:22px;
    background-image:url(../../images/tab_bg.png);
    /*background-image:url(../../images/Blue_2/header_second_blue_bg.gif);*/
    background-repeat:repeat-x;
    background-color:#f2f8ff;
    border-style:solid;
    border-width:1px;
    border-color:#bad4ff;
    cursor:pointer;
}

.tabMenuLeftPane
{
    width:18px;
    border-right-style:solid;
    border-right-width:1px;
    border-right-color:#e1e6e9;
}

.imgClose
{
    border:none; margin-bottom:-5px; width:14px; position:absolute; right:31px; margin-top:3px; z-index:1000; cursor:pointer;
}

.imgClose:hover
{
    width:17px;
}

.imgDownArw
{
    border:none; margin-bottom:-5px; width:7px; position:absolute; right:13px; margin-top:6px; z-index:1000;
}

.imgDownArw:hover
{
    width:9px;
}