<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SISLS3GCommonWS.CommonServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SISLS3GCommonWS.CommonServiceBehavior" name="SISLS3GCommonWS.SISLS3GCommonWS">
        <endpoint address="" binding="wsHttpBinding" contract="SISLS3GCommonWS.ICommonService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SISLS3GCommonWS/CommonService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BillDocumentPath" value="D:\DQ\LOGS\BILL\" />
    <add key="INIFILEPATH" value="D:\DQ\SML24-Feb-23\SISLS3GPLayer\SISLS3GPLayer\Config.ini" />
    <add key="SendError" value="1" />
    <add key="COMMONERRORLOG" value="D:\DQ\LOGS\S3GServiceTrace.txt" />
    <!--<add key="TimerGap" value="5:00:00 PM, 6:44:00 PM, 7:00:00 PM, 8:00:00 PM, 9:00:00 PM, 10:00:00 PM"/>-->
    <add key="TimerGap" value="" />
    <add key="GraceTime" value="5" />
    <add key="S3GconnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=WIN-MLA63KS8PA3)(PORT=1540)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SFS)));User Id=SMLLEASING;Password=ssol#123;"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>